.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 10px;

  li {
    width: 200px;
    font-style: italic;
  }

  button {
    background-color: rgb(166, 85, 166);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }
}
